{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container mt-5 p-3" style="margin-bottom:100px;">
<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

    <div class="mb-3">
  <label  class="form-label">Name</label>
  <input type="text" class="form-control" name="n" placeholder="Enter the name">
</div>

    <div class="mb-3">
  <label  class="form-label">Image</label>
  <input type="file" class="form-control" name="i" >

</div>

        <div class="mb-3">
  <label  class="form-label">Description</label>
  <input type="text" class="form-control" name="d" placeholder="Enter the details">
</div>

        <div class="mb-3">

  <input type="submit" class="text-center" value="submit">
</div>
    </form>


    </div>


{% endblock %}
