{% extends 'base.html' %}
{% load static %}

   <title>LOGIN</title>

{% block content %}
<center>
    <div class="container mt-5 p-3" style="margin-bottom:100px;">
<h2>Login Here...</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}
    <div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter the username">
</div>

     <div class="mb-3">
  <label class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter the password">
</div>

    <div class="mb-3">
<input type="submit" class="form-control">
</div>

</form>
    {% if messages %}
<ul class="messages text-danger fs-4 text-capitalize">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    </div>


{% endblock %}
</center>

</body>
</html>